/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Semantic Selectors */

/* provides background color for the entire page */
body {
    background-color: #d9dcd6;
}

/*Styles the text and formats the header bar */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*sets the size and positioning for the website title in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*sets the letters SEO in Horiseon to be a different color than the rest of the text */
header h1 .seo {
    color: #d9dcd6;
}

/*Styles the text and sets the box formatting for the navigation bar portion of the header */
nav {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/*ensures links are not decorated and sets their color */
a {
    color: #ffffff;
    text-decoration: none;
}

/*sets the font size for all paragraph text*/
p {
    font-size: 16px;
}

/* sets the formatting for the main content section */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the formatting for the right-side box with benefits information */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles and formats within the section element, only used for the main content area */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
}

section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*styles and formats the footer section*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Class Selectors */

/* Sets the format and creates the giant background image at the top */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* float classes allow elements to be aligned right or left as needed */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* styles and formats within the class 'benefits' */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}